body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #495057;
  color: #f8f9fa;
}

.hero {
  background-color: #adb5bd;
  color: #212529;
}

.weather {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: #343a40;
  border: none;
}

.btn-primary:hover {
  background-color: #e9ecef;
  color: #212529;
}

.line {
  width: 200px;
  border-bottom: solid 2px #adb5bd;
  margin: auto;
}

.skills {
  list-style: none;
}

.aboutimg {
  background-image: url("/styles/angelphoto.jpg");
  width: 100%;
  height: 300px;
  background-position: center;
  box-shadow: 0 0 10px 5px black inset;
}

.contact {
  color: #adb5bd;
}

.contact:hover {
  color: #e9ecef;
}
